<div class="todo-component_wrapper">
    <div class="todo-component">
        <h2 class="todo-component_title">Todo List <span class="counter">0</span></h2>

        <div class="todo-component_adding-task">
            <textarea type="text" placeholder="what needs to be done?"
                      class="todo-component_adding-task_input"></textarea>
        </div>

        <div class="todo-component_item-wrapper">
            <!--ITEMS-->
        </div>

        <div class="todo-component_checking-tasks-wrapper">
            <div class="todo-component_checking-tasks">
                <label class="todo-component_checking-tasks_label">
                    <input type="checkbox" class="todo-component_checking-input">
                    Mark all as complete
                </label>
                <button class="todo-component_remove-button">remove checked</button>
            </div>
        </div>
    </div>
</div>
