<div class="todo-component_wrapper">
	<div class="todo-component">
		<div class="todo-component_title">
			Todos
		</div>
		<div class="todo-component_adding-task">
				<input type="text" placeholder="whaat needs to be done?" class="todo-component_adding-task_input"/>
		</div>
		<div class="todo-component_checking-tasks-wrapper">
			<div class="todo-component_checking-tasks">
				<label class="todo-component_checking-tasks_label">
					<input type="checkbox" class="todo-component_checking-input"/>Mark all as complete
				</label>
			</div>
		</div>
		<div class="todo-component_item-wrapper">
			<!--ITEMS-->
		</div>
	</div>
</div>